/* Overall Page Settings */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: white;
    width: 100%;
    height: fit-content;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

:root {
    --base-clr: black;
    --line-clr: #42434a;
    --hover-clr: #72a1de;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;

    --header-height: 70px;
    --sidebar-width: 280px;
}


/* Header Section */
header {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    right: 0;
    left: 0;
    box-shadow: 0 0 15px black;
    padding: 0 30px;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    font-size: 24px;
    gap: 20px;
}

.socials p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #72a1de;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.socials a {
    color: black;
}

.socials a:visited {
    color: black;
}

.socials p:hover {
    background-color: #72a1de;
    color: black;
    box-shadow: 0 0 15px #72a1de;
}

.hamburger {
    display: flex;
    margin-top: 6px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}


/* Sidebar Section */
.sidebar {
    position: fixed;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--hover-clr); /* Actual Sidebar Colour*/
    transition: width 0.7s ease;
    overflow: hidden;
    z-index: 999;
}

.sidebar.active {
    width: var(--sidebar-width); /* Actual Sidebar Width*/
}

body.sidebar-open {
    overflow: hidden;
}

.sidebar-content {
    width: var(--sidebar-width);
    height: 100%;
    overflow-y: auto;
    --webkit-overflow-scrolling: touch;
    font-weight: bold;
}

.sidebar-content p {
    margin: 10px;
}

.sidebar-content h1 {
    margin: 10px;
}

.sidebar-btn {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.sidebar-btn span {
    position: relative;
    display: inline-block;
}

.sidebar-btn span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 2px;
    background-color: black;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
}

.sidebar-btn:hover span::after {
    transform: scaleX(1);
}

.sidebar-btn:hover {
    color: black;
}

.sidebar-divider {
    border: 1px solid white;
    margin: 15px 0px 15px 0px;
}

.sidebar-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar-btn-social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;
    font-size: 24px;
    gap: 20px;
}

.sidebar-btn-social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.sidebar-btn-social-links a:visited {
    color: white;
}

.sidebar-btn-social-links a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 15px black;
}


/* Introduction Section */
.introduction {
    margin-top: 120px;
    text-align: center;
    color: black;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
}

.introduction h1 {
    font-size: 30px;
    color: var(--hover-clr);
}

.introduction p {
    font-size: 18px;
}


/* Content Section */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--hover-clr);
    box-shadow: 0 0 15px var(--hover-clr);
    text-align: center;
    border-radius: 10px;
    color: black;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 20px;
}

.content h1 {
    font-size: 30px;
}

.content p {
    font-size: 18px;
}

.content-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    overflow: hidden;
    border: 2px solid var(--hover-clr);
    border-radius: 10px;
    text-decoration: none;
}

.card span {
    position: relative;
    display: inline-block;
}

.card span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 2px;
    background-color: black;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
}

.card:hover span::after {
    transform: scaleX(1);
}

.card:hover {
    color: black;
}

.card a {
    text-decoration: none;
    color: black;
}

.card p {
    font-size: 15px;
    font-weight: bold;
}


/* Footer Section */
.footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    color: black;
}

.footer-logo {
    display: flex;
    padding-top: 7px;
}

.footer-socials {
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    font-size: 24px;
    gap: 20px;
}

.footer-socials p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #72a1de;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.footer-socials a {
    color: black;
}

.footer-socials a:visited {
    color: black;
}

.footer-socials p:hover {
    background-color: #72a1de;
    color: black;
    box-shadow: 0 0 15px #72a1de;
}