/* Page Settings */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: black;
    background-color: white;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header Section */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    border-bottom: 2px solid #72a1de;
    border-radius: 10px;
    box-shadow: 0 0 15px #72a1de;
}

header p {
    font-size: 24px;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.socials p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #72a1de;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
    padding-top: 4px;
}

.socials a {
    color: black;
}

.socials a:visited {
    color: black;
}

.socials p:hover {
    background-color: #72a1de;
    color: black;
    box-shadow: 0 0 15px #72a1de;
    border: 2px solid black;
}

.hamburger {
    font-size: 24px;
    padding-top: 7.5px;
    cursor: pointer;
}


/* Sidebar Section */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #72a1de; /* Actual Sidebar Colour*/
    transition: width 0.7s ease;
    overflow: hidden;
    z-index: 999;
    border-left: 2px solid black;
}

.sidebar.active {
    width: 320px; /* Actual Sidebar Width*/
}

body.sidebar-open {
    overflow: hidden;
}

.sidebar-content {
    width: 320px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-weight: bold;
}

.sidebar-content p {
    margin: 10px;
}

.sidebar-content h1 {
    margin: 10px;
}

.sidebar-btn {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.sidebar-btn span {
    position: relative;
    display: inline-block;
}

.sidebar-btn span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 2px;
    background-color: black;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
}

.sidebar-btn:hover span::after {
    transform: scaleX(1);
}

.sidebar-btn:hover {
    color: black;
}

.sidebar-dropdown {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.sidebar-dropdown a {
  display: block;
  padding: 10px 10px 10px 30px;
  color: black;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.sidebar-dropdown a:hover {
  background-color: #72a1de;
}

body.sidebar-open {
  overflow: hidden;
}

.sidebar-divider {
    border: 1px solid white;
    margin: 15px 0px 15px 0px;
}

.sidebar-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar-btn-social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;
    font-size: 24px;
    gap: 20px;
}

.sidebar-btn-social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.sidebar-btn-social-links a:visited {
    color: white;
}

.sidebar-btn-social-links a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 15px black;
}


/* Introduction Section */
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.introduction h1 {
    font-size: 24px;
}

.introduction p {
    margin: 0px 180px 20px 180px;
}


/* Content Section */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid #72a1de;
    border-radius: 10px;
    box-shadow: 0 0 15px #72a1de;
    margin: 0px 100px 0px 100px;
    padding-bottom: 30px;
}

.content h1 {
    font-size: 18px;
    padding-top: 10px;
}

.content p {
    font-size: 18px;
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 80px;
}

.topic {
    border: 2px solid #72a1de;
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px #72a1de;
    width: 400px;
}

.topic h1 {
    font-size: 18px;
}

.topic-btn {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    gap: 10px;
    border: 2px solid #72a1de;
    border-radius: 10px;
    height: 25px;
    margin: 0px 140px 0px 140px;
    text-align: center;
    justify-content: center;
    padding-top: 2px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.topic-btn:visited {
    color: black;
}

.topic-btn:hover {
    background-color: #72a1de;
    color: black;
    box-shadow: 0 0 15px black;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.5s;
}

@media (max-width: 431px) {
    .socials {
        display: none;
    }

    .sidebar-socials {
        padding-right: 70px;
    }

    .sidebar-dropdown {
        font-size: 14px;
    }

    .sidebar-btn {
        font-size: 14px;
    }

    .sidebar.active {
        width: 250px;
    }

    .introduction p {
        margin: 0px 15px 0px 15px;
        font-size: 12px;
    }

    .introduction h1 {
        font-size: 14px;
    }

    .content {
        margin: 0px 15px 20px 15px;
        width: 345px;
    }

    .topic {
        width: 320px;
    }

    .topic p {
        font-size: 14px;
    }

    .topic h1 {
        font-size: 14px;
    }

    .topic-btn {
        width: 110px;
        margin-left: 110px;
        align-content: center;
        font-size: 12px;
        padding-top: 3px;
    }

    .grid-layout {
        display: flex;
        flex-direction: column;
    }
}